#Welcomecontainer{
    /* welcome box */
    background-color: #fbeec1;
    height : 70px;
    margin-left: 20%;
    margin-right:20%;
    border-radius: 20px;
    border-color: #fbeec1;
    
    

    /* text */
    padding-top: 6px;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
}
#AboutUs{
    height: 250px;
    margin-top: 5%;
    background-color:#fbeec1;
    border-radius: 20px;
    margin-left: 25%;
    margin-right:25%;
    
    /* text */
    text-align: center;
    padding-top:20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 24px;
}
#img{
    margin-top: 5%;
    margin-left: 12%;

    border-radius: 20px;
    
    
    
}
#img2{
    margin-top: 5%;
    margin-left: 22%;
    border-radius: 20px;

}


html{
    background-color: #161616;
    height: 1100px;
}
